// app-main-layouts
$background-color: #F2F5FB;
$text-color: #7991B4;
$text-color--deep: #334D6E;
$app-radius: 6px;
$border-color--lightgrey: #EBEFF9;

$box-shadow-color: #E9EEF6;
$error-border-color: #E45D5D;

// generic variables
$table-header-bg-color: #DCE3EA;
$table-header-children-bg-color: #E8EDF3;
$table-header-color: #415E83;
$table-header-border-color: #CEDBEA;
$table-text: #4F6A92;
$table-hover: #F4F8FC;

